@import "normalize";
@import "rat";
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  height: 100%;
  @include top-lite-grd(#ddd);
}
#wrap{
  height: inherit;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#page{
  width: 800px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -300px;
  overflow: hidden;
  header{
    h1{
      text-align: center;
      font-size: 3.5em;
      margin: .25em;
      color: #5f5f5f;
    }
    nav ul{
      display: -webkit-box;
    }
  } 
  section.ls{
    $ul-width: 780px;
    $sphia: $ul-width / 3 - 30;
    ul{
      width: $ul-width;
      margin: 0 auto;
    }
    li{
      float: left;
      @include sphia($sphia);
      border: 1px solid aqua;
      margin-right: 30px;
      margin-bottom: 10px;
      overflow: hidden;
      //animation
      
      position: relative;
      &:last-child{
        margin: 0;
      }
      .discript{
        position: absolute;
        top: 0;
        font-size: 2em;
        @include sphia($sphia);
        z-index: 1;
        @include top-lite-grd(#e5e5e2);
      }
      .hover{
        opacity: 0;
        @include sphia($sphia);
        position: absolute;
        text-align: center;
        z-index: 1000;
        &.bg{
          background: #000;
        }
        &.txt{
          font-size: 30px;
          padding: 20px;
          color: #fff;
          display: table-cell;
          vertical-align: middle;
        }
      }
      &:hover{
        .hover.bg{
          opacity: .5;
        }
        .hover.txt{
          opacity: 1;
        }
      }
    }
  }
}


/* Desktops and laptops ----------- */
@media only screen 
and (max-width : 700px) {
  body{
    font-size: 12px;
  }
}
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1000px) {
  body{
    font-size: 16px;
  }
}
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  body{
    font-size: 20px;
  }
}