/* line 1, ../stylesheets/_normalize.scss */
body {
  font-size: 1.4em;
}

/* line 6, ../stylesheets/_normalize.scss */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  white-space: normal;
}

/* line 12, ../stylesheets/_normalize.scss */
h1, h2, h3, h4 {
  padding: 10px 0;
}

/* line 15, ../stylesheets/_normalize.scss */
a {
  text-decoration: none;
  color: #999;
  font-weight: bold;
  line-height: 1;
}

/* line 21, ../stylesheets/_normalize.scss */
button {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eaeaea), to(#d0d0d0));
  background-image: -webkit-linear-gradient(#eaeaea, #d0d0d0);
  background-image: linear-gradient(#eaeaea, #d0d0d0);
  margin: 0;
}
/* line 29, ../stylesheets/_normalize.scss */
button:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #999;
}
/* line 34, ../stylesheets/_normalize.scss */
button:last-child {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  border: 1px solid #999;
}

/* line 3, ../stylesheets/main.scss */
#wrapper {
  width: 90%;
  margin: 0 auto;
}

/* line 6, ../stylesheets/main.scss */
#header {
  font-size: 60%;
  -webkit-box-shadow: 0 0 5px 2px #999;
  -moz-box-shadow: 0 0 5px 2px #999;
  box-shadow: 0 0 5px 2px #999;
  position: relative;
  height: 60px;
}
/* line 13, ../stylesheets/main.scss */
#header .nav {
  position: absolute;
  right: 0;
}
/* line 18, ../stylesheets/main.scss */
#header .bd li {
  margin: 5px 10px;
}
/* line 20, ../stylesheets/main.scss */
#header .bd li:last-child {
  margin-right: 0;
}
/* line 23, ../stylesheets/main.scss */
#header .bd li a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: table-cell;
  padding: 0 1em;
  height: 40px;
  vertical-align: middle;
  border: 1px solid #999;
}
/* line 35, ../stylesheets/main.scss */
#header .nav, #header .bd, #header .helper ul {
  display: -webkit-box;
}

/* line 13, ../stylesheets/_modules.scss */
.header h1 {
  font-size: 120%;
}
/* line 16, ../stylesheets/_modules.scss */
.header span {
  font-size: 90%;
}

/* line 48, ../stylesheets/main.scss */
#article {
  margin: 20px 0;
  -webkit-box-shadow: 0 0 5px 2px #999;
  -moz-box-shadow: 0 0 5px 2px #999;
  box-shadow: 0 0 5px 2px #999;
}

/* line 53, ../stylesheets/main.scss */
#footer {
  -webkit-box-shadow: 0 0 5px 2px #999;
  -moz-box-shadow: 0 0 5px 2px #999;
  box-shadow: 0 0 5px 2px #999;
}
