@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yo\/example\/webapp\/app\/styles\/main\.scss}line{font-family:\000032}}
#header ul {
  list-style-type: none;
  display: -webkit-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yo\/example\/webapp\/app\/styles\/main\.scss}line{font-family:\000035}}
#header ul li {
  border: 1px solid #000;
  margin: 0 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yo\/example\/webapp\/app\/styles\/main\.scss}line{font-family:\0000313}}
#article, #header, #footer {
  -webkit-box-shadow: 0 0 5px 2px;
}
